<?xml version="1.0" encoding="UTF-8"?>
<beans	
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc.xsd"

>
<mvc:view-controller path="/main" view-name="main"/><!-- 실행하자마자 main페이지가 열리도록 함 --><!-- 컨트롤러에 별도의 main이동에관한 명령이 없어도 가능 -->
	<bean class="HelloController"></bean>
	<bean class="controller.RegisterController"></bean>
	<bean class="survey.SurveyController"></bean>

 
</beans>